body {
    background-color: #000000;
}

.splash-back {
    background-color: #000000;
    background-image: url('../img/logo_background_200x200.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#photo_download_progress {
    border: 1px solid #cecece;
    display: none;
    padding: 4px 0px;
    text-align: center;
}

#app-title {
    font-size: 0.8em;
}
