body {
    background-color: #000000;
}

.splash-back {
    background-color: #000000;
    background-image: url('../logo.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.splash-div {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 170px;
    height: 200px;
    margin-left: -85px; /*half width*/
    margin-top: -100px; /*half height*/
}

#photo_download_progress {
    border: 1px solid #cecece;
    display: none;
    padding: 4px 0px;
    text-align: center;
}

#app-title {
    font-size: 0.8em;
}
