<?xml version='1.0' encoding='utf-8'?>
<widget id="com.discoverdefine.shelterwomen" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Shelter for Women</name>
    <description>
        A directory of women's shelters and resources utilized by social workers to educate women in need.
    </description>
    <author email="christopher@discoverdefine.ca" href="http://www.discoverdefine.ca">
        Christopher Muggridge
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <icon src="icon.png" gap:role="default" />
    
    <icon src="img/icons/ios/img-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/icons/ios/img-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/icons/ios/img-57-2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/icons/ios/img-72-2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="img/icons/android/img-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="img/icons/android/img-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="img/icons/android/img-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="img/icons/android/img-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    
    <!-- Security permissions required -->
    <feature name="http://api.phonegap.com/1.0/file" required="true" />
    <feature name="http://api.phonegap.com/1.0/network" required="true" />
    <!-- Plugins -->
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
</widget>
